 <p style="font-size: 22px;">
        <%= t('.top') %>
 </p>
 <% if @card %>
   <p><strong><%= t('.rand') %>:</strong></p>
   <p><strong><%= @card.translated_text %></strong></p>
   <p><%= image_tag @card.img.url(:medium) %></p>
   <%= simple_form_for :random_card, url: '/home', method: :post do |f|%>  
      <%= f.input :original_text %>
      <%= f.hidden_field :card_id, value: @card.id %>
      <%= f.hidden_field :time, value: 0 %>
      <%= f.button :submit, t('.check') %>
   <% end %> 
 <% end %>
