<% if current_user.decks.any? %>
  <%= simple_form_for @card do |f| %>
  	<%= f.input :original_text %>
  	<%= f.input :translated_text %>
    <%= f.input :img, as: :file %>
    <%= f.input :img_remote_url %>
    <% unless @card.new_record? %>
      <div><label><%= t('.date') %></label></div>
      <%= f.input :review_date, as: :date, html5: true %>
      <p></p>
    <% end %>
    <%= f.select :deck_id, current_user.decks.map { |d| [d.name, d.id] }, 
                                                prompt: t('.select_deck') %>
  	<p><%= f.button :submit, t('.submit') %></p>
  <% end %>
<%else%>
  <p><%= t('.create_deck') %></p>
  <p><%= link_to t('.new_deck'), new_deck_path, class: "btn btn-primary" %></p>
<% end %>
