<% if current_user.decks.any? %>
  <%= simple_form_for @card do |f| %>
  	<%= f.input :original_text, label: t('form.original') %>
  	<%= f.input :translated_text, label: t('form.translated') %>
    <%= f.input :img, as: :file, label: t('form.img') %>
    <%= f.input :img_remote_url, label: t('form.remote_img') %>
    <% unless @card.new_record? %>
      <div><label><%= t('form.date') %></label></div>
      <%= f.input :review_date, as: :date, html5: true %>
      <p></p>
    <% end %>
    <%= f.select :deck_id, current_user.decks.map { |d| [d.name, d.id] }, 
                                                prompt: t('form.select_deck') %>
  	<p><%= f.button :submit, t('form.submit') %></p>
  <% end %>
<%else%>
  <p><%= t('form.create_deck') %></p>
  <p><%= link_to t('form.new_deck'), new_deck_path, class: "btn btn-primary" %></p>
<% end %>
