<h2>Cards</h2>
<% @cards.each do |card| %>
	<p>
		<span><%= card.original_text %> | </span>
		<span><%= card.translated_text %> | </span>
		<span><%= t('.next_rev') %> <%= card.review_date.strftime("%d/%m/%Y") %></span>
		<div>
			<%= link_to "#{t('.card')} | ", card_path(card) %>
			<%= link_to "#{t('.ed_card')} | ", edit_card_path(card) %>
			<%= link_to "#{t('.del_card')}" , card_path(card), method: :delete, 
															  data: { confirm: 'Are you sure?' } %>
		</div>
	</p>
<%end%>
