<h2><%= t("index.decks") %></h2>
<p><%= link_to t('link.new_deck'), new_deck_path, class: "btn btn-primary" %></p>
<% @decks.each do |deck| %>
	<p>
		<span><%= deck.name %></span>
		<div>
      <%= link_to "#{t('link.deck')} | ", deck_path(deck) %>
			<%= link_to "#{t('link.ed_deck')} | ", edit_deck_path(deck) %>
			<%= link_to "#{t('link.del_deck')} | " , deck_path(deck), method: :delete, 
															  data: { confirm: 'Are you sure?' } %>
      <%= link_to "#{t('link.set_curr')}", set_deck_path(current_user, deck.id), method: :put %>
		</div>
	</p>
<%end%>
