
<h2><%= @deck.name %></h2>
<h3>Карты колоды:</h3>
<% @deck.cards.each do |card| %>
  <p>
    <span><%= card.original_text %> | </span>
    <span><%= card.translated_text %> | </span>
    <span>Следующий просмотр <%= card.review_date.strftime("%d/%m/%Y") %></span>
    <div>
      <%= link_to "посмотреть карточку | ", card_path(card) %>
      <%= link_to "редактировать карточку | ", edit_card_path(card) %>
      <%= link_to "удалить карточку" , card_path(card), method: :delete, 
                                data: { confirm: 'Are you sure?' } %>
    </div>
  </p>
<%end%>

<%= link_to 'На главную', root_path %>
